* {
  box-sizing: border-box;
}

body {
  color: #888;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.85em;
  line-height: 22px;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 4px 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0 8px 0 22px;
  line-height: 22px;
  display: block;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}
body .menu > li.status {
  color: #aaa;
}
.menu li.action {
  color: #222;
}
.menu li.action:hover {
  background: rgb(0, 114, 238);
  color: #fff;
}
.menu li.action.checked:before {
  content: " ";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: -15px;
  margin-top: 5px;
  background: url("checkmark.png") no-repeat;
  background-size: 11px 11px;
}
.menu.ultra-dark li.action.checked:before {
  filter: invert();
}
.menu li .shortcut {
  float: right;
}

.menu li.separator {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin: 4px 0;
}
.menu.ultra-dark li.separator {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.menu.ultra-dark li,
.menu.ultra-dark .containers li {
  color: rgba(255, 255, 255, 0.9);
}

.containers {
  visibility: hidden;
  height: 0;
  overflow: auto;
  position: relative;
  margin-left: -22px;
  margin-right: -8px;
}

.menu .containers > li {
  color: #000;
  position: relative;
}
.containers li.group {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 8px;
}
.containers li.group:before {
  content: "▾ ";
  font-size: 20px;
  display: inline-block;
  position: absolute;
  margin-left: -14px;
  margin-top: 0;
}
.containers li.group.closed:before {
  content: "▸ ";
}
.containers li small {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.7;
}
.containers li.container {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 40px;
  padding-right: 8px;
  max-height: 22px;
  white-space: pre;
}
.containers li.container:hover {
  background: rgb(0, 122, 255);
  color: #fff;
}
.containers li.container.active:hover {
  background: rgb(0, 122, 255);
  color: #fff;
  cursor: default;
}
.containers li.container.active.killable:hover {
  background: rgb(255, 59, 48);
  color: #fff;
  cursor: default;
}
.containers li.container.active.pauseable:hover {
  background: rgb(255, 149, 0);
  color: #fff;
  cursor: default;
}
.containers li.container.removable:hover {
  background: rgb(88, 86, 214) !important;
  color: #fff;
  cursor: default;
}
.containers li.container:before {
  content: " ";
  display: inline-block;
  position: absolute;
  margin-left: -16px;
  margin-top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(127, 127, 127, 0.8);
}
.containers li.container.active:before {
  background: rgb(76, 217, 100);
}
.containers li.container.paused:before {
  background: rgb(255, 204, 0);
}
.containers li.container.inactive:before {
  background: rgb(255, 59, 48);
}
